/*--------------------------MAIN SETTINGS----------------------------------*/
*{
    margin: 0;
    padding: 0;
}

/*--------------------------TABLE SETTINGS----------------------------------*/

table {
    width: 600px;
    margin: auto;
    border-collapse: collapse;
}

td {
    border: 1px solid #000;
    height: 100px;
    width: 100px;
}

.black {
    background: #000;
}

.white {
    background: #fff;
}

.red {
    background: #f00;
}

.yellow {
    background: #ff0;
}

.blue {
    background: #00f;
}